* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Edu Tas Beginner, sans-serif;
    text-align: center;
    background-image: url(./asset/img/wall.png);
}

main {
    height: 100vh;
    overflow-y: auto;
    background-image: url(./asset/img/cork.png);
}

.container-fluid {
    width: 70%;

    .row {
        justify-content: space-around;
    }
}

.card {
    position: relative;
}

.pin {
    position: absolute;
    top: -10px;
    left: 45%;
}

.image_box {
    margin-top: 15px;
}

p.place {
    font-size: 25px;
    font-weight: bold;
    font-family: Edu Tas Beginner, sans-serif;
}

p.date {
    font-size: 15px;
    text-decoration: grey;
    font-family: Sometype Mono, monospace;
}