* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Edu Tas Beginner, sans-serif;
    text-align: center;
    background-image: url(./asset/img/wall.png);

    h1 {
        font-size: 80px;
        
        @media screen and (max-width: 426px) {
           font-size: 60px;
        }
    }
}

main {
    /* height: 100vh;
    overflow-y: auto; */
    background-image: url(./asset/img/cork.png);
}

.container-fluid {
    width: 70%;
    justify-content: center;


    .row {
        justify-content: space-between;
    }
}

.card {
    width: 32%;
    position: relative;

    @media screen and (max-width: 768px) {
        width: 48%;
    }

    @media screen and (max-width: 426px) {
        width: 98%;
    }
}

.pin {
    position: absolute;
    top: -10px;
    left: 44%;

    @media screen and (max-width: 768px) {
        top: -10px;
        left: 44%;
        width: 30px;
    }

    @media screen and (max-width: 426px) {
        top: -5px;
        left: 46%;
        width: 25px;
    }
}

.image_box {
    margin-top: 15px;
}

p.place {
    font-size: 25px;
    font-weight: bold;
    font-family: Edu Tas Beginner, sans-serif;

    @media (min-width: 426px) and  (max-width:768px) {
        font-size: 17px;
    }
}

p.date {
    font-size: 15px;
    text-decoration: grey;
    font-family: Sometype Mono, monospace;
}