* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Edu Tas Beginner, sans-serif;
    text-align: center;
    background-image: url(./asset/img/wall.png);

    h1 {
        font-size: 80px;

        @media screen and (max-width: 426px) {
            font-size: 60px;
        }
    }
}

main {
    /* height: 100vh;
    overflow-y: auto; */
    background-image: url(./asset/img/cork.png);
}

.overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);

    .overlay_box {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 426px) {
            max-width: 100%;
        }
    }

    img {
        width: 100%;
    }

    .btn {
        color: white;
        background-color: grey;
        margin-bottom: 2rem;
    }
}



.container-fluid {
    width: 70%;
    justify-content: center;


    .row {
        justify-content: space-between;
    }
}

.card {
    width: 32%;
    position: relative;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);

    @media screen and (max-width: 768px) {
        width: 48%;
    }

    @media screen and (max-width: 426px) {
        width: 98%;
    }
}

.card:hover {
    transform: scale(1.1);
    rotate: 10deg;
    z-index: 1;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
    cursor: pointer;

    img.pin {
        display:none;
    }
}


.pin {
    position: absolute;
    top: -10px;
    left: 45%;

    @media screen and (max-width: 768px) {
        top: -10px;
        left: 46%;
        width: 28px;
    }

    @media screen and (max-width: 426px) {
        top: -5px;
        left: 46.5%;
        width: 25px;
    }
}

p.place {
    font-size: 20px;
    font-weight: bold;
    font-family: Edu Tas Beginner, sans-serif;

    @media (min-width: 426px) and (max-width:768px) {
        font-size: 17px;
    }
}

p.date {
    font-size: 12px;
    text-decoration: grey;
    font-family: Sometype Mono, monospace;
}